[submodule "GkmasObjectManager"]
	path = GkmasObjectManager
	url = https://github.com/AllenHeartcore/GkmasObjectManager.git
[submodule "campus"]
	path = campus
	url = https://github.com/vertesan/campus.git
